<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Profile</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div>
                Imagen
            </div>
            <div>
                Timeline
            </div>
        </div>
        <div class="col">
            <div>
                Name
            </div>
            <div>
                Profile
            </div>
        </div>
    </div>
</div>

</body>

</html>