<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Profile</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <div>
                    <img th:src="@{${imageUrl}}">
                </div>
                <tr th:each="tweet: ${tweets}">
                    <td th:text="${tweet.getFromUser()}"/>
                    <td th:text="${tweet.getText()}"/>
                </tr>
            </div>
        </div>
        <div class="col">
            <div>
                <p th:text=${twitterUserName}></p>
            </div>
            <div>
                <p th:text=${description}></p>
            </div>
        </div>
    </div>
</div>

</body>

</html>